body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('assets/cityBackground.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.blur-top::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    backdrop-filter: blur(3px);
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

.image-region {
    position: relative;
    z-index: 1;
}

    .image-region.blur-top::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('assets/cityBackground.jpg');
        background-size: cover;
        background-position: center;
        filter: blur(3px);
        z-index: -1;
    }

.text-center {
    margin-top: 150px;
    text-align: center;
}

.display-logo {
    font-size: 48px;
    font-weight: bold;
    color: #f6c000;
    font-family: 'Segoe UI', Arial, sans-serif;
    animation: fade-in 2s;
}

.display-logo2 {
    font-size: 36px;
    font-weight: bold;
    color: #555;
    margin-top: 20px;
    font-family: 'Segoe UI', Arial, sans-serif;
    animation: slide-in 2s;
}

.image-region {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    animation: fade-in 2s;
}

.image-center {
    padding: 30px;
}

.button-location {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    animation: slide-in 2s;
    z-index: 1;
    flex-wrap: wrap;
}

.button-wrapper {
    margin: 10px;
}

.btn-big {
    display: inline-block;
    background-color: #f6c000;
    color: #555;
    font-size: 24px;
    font-weight: bold;
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, text-decoration 0.3s ease;
    font-family: 'Segoe UI', Arial, sans-serif;
    text-decoration: none;
}

    .btn-big:hover {
        background-color: #ffd700;
        color: #ffffcc;
        text-decoration: none;
    }

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes slide-in {
    0% {
        transform: translateX(-100px);
    }

    100% {
        transform: translateX(0);
    }
}